streamlit
langchain
langchain-community
openai
PyPDF2
python-dotenv
faiss-cpu
huggingface_hub
sentence-transformers
pymupdf
pdfminer.six
fuzzywuzzy #Use fuzzy matching to find the sentence most likely used in the final answer
python-Levenshtein  # optional but makes it faster
